.contacts {
 display: flex;
 justify-content: space-between;
 padding-bottom: 60px;
}

.contact-form-block {
 box-sizing: border-box;
 max-width: 680px;
 width: 100%;
 background: #E5EAF8;
 padding: 42px 40px;
}

.contact-form label {
 font-family: var(--font-opensans);
 line-height: 19px;
}

.contact-data-block {
 margin-top: 19px;
}

.contact-wrapper input:not([type=checkbox]),
.contact-wrapper textarea {
 margin-top: 4px;
}

.contact-agreement {
 margin-top: 17px;
}

.modal-window-btn {
 margin-top: 18px;
}

.block-text {
 margin-left: 120px;
 max-width: 380px;
 width: 100%;
}

.block-text p {
 margin: 0 0 19px;
}

.block-text-slogan {
 font-family: var(--font-montserrat);
 font-weight: 600;
 font-size: 26px;
 line-height: 34px;
 text-transform: uppercase;
 color: #C29974;
}